.navbar {
  background: linear-gradient(#f4f7f9);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  justify-content: space-between;
}

.navbar-logo {
  color: #059e4b;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Footer-logo {
  color: #059e4b;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fa-react {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}
.nav-menu ul {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 20px;
  list-style: none;
  text-align: center;
  width: 41vw;
  justify-content: end;
  margin-right: 2rem;
}
.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 20px;
  list-style: none;
  text-align: center;
  width: 31vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-links {
  color: #787f91;
  text-decoration: none;
  text-decoration: none;
  position: relative;
}
.nav-links:after {
  bottom: -4px;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  background: #059e4c;
  opacity: 0.6;
  transition: width 0.3s ease 0s, opacity 0.3s ease 0s;
  width: 0;
}
.nav-links:hover:after {
  width: 100%;
  opacity: 0.9;
}
.nav-links:hover {
  color: #059e4b;
  font-weight: 700;
  border-radius: 4px;
  transition: all 0.5s ease-out;
}
.color_gray {
  color: #787f91;
}
.sign_button {
  border-radius: 10px;
  font-weight: 700;
}
.sign_up {
  background: #059e4c;
  border-radius: 10px;
}
.sign_in {
  background-color: #fff;
  color: #787f91;
}
.fa-bars {
  color: #059e4b;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}
.d_block_res {
  display: none;
}
@media (max-width: 960px) {
  .d_block_res {
    display: block;
  }
  .d_none_res {
    display: none;
  }
  .navbar {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #ffffff;
    border: 1px solid #059e4b;
    left: 20px;
    opacity: 1;
    border-radius: 11px;
    /* margin: 0 11px; */
    transition: all 0.5s ease;
    z-index: 1;
    width: 90%;
    flex-direction: column-reverse;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #059e4b;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #4ad9e4;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #6568f4;
    transition: 250ms;
  }

  Button {
    display: none;
  }
}
:root {
  --primary: #3acbf7;
}

.btn {
  padding: 8px 20px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.btn:hover {
  padding: 8px 20px;
  color: #fff;
  transition: 250ms;
  background: #059e4c !important;
}

.btn-primary {
  background: #059e4c !important;
}

.btn-outline {
  background-color: #fafcfc !important;
  color: gray;
  border-radius: 8px;
}
.btn-medium {
  font-size: 18px;
  color: #fff;
}

.btn-large {
  padding: 12px 20px;
  font-size: 20px;
  color: #fff;
}
.title_logo h5 {
  font-weight: 600;
  font-size: 22px;
}
.title_logo {
  margin: 0 5px 0 0;
}
.dropdown-toggle::after {
  display: inline-block;
  margin: -3px 10px;
}
#basic-nav-dropdown:hover {
  color: #059e4b;
  font-weight: 700;
  border-radius: 4px;
  transition: all 0.5s ease-out;
}
.dropdown-menu.show {
  display: block;
  text-align: right;
}
.nav-item.dropdown {
  direction: rtl;
}
a#basic-nav-dropdown {
  color: #787f91;
  text-decoration: none;
}
